body{
    background: #efefef;
}
h2 {letter-spacing:5px}
.main{
    margin: 30px;
    background-color: white;
    padding: 30px;
}
.btn-publish{
    float: right;
    margin-bottom: 15px;
}
.media-object{
   width: 38px;
    height: 38px;
}
.text-desc{
    font-size: 12px;
    font-weight: normal;
    color: #999;
}
.question .edit{
    color: #999;
    font-size: 13px;
}
.question .media-body{
    padding-top: 9px;
}
.question .des{
    font-size: 20px;
}
.question .btn-reply{
    float: right;
    margin: 10px;
}
.question .reply_hr{
    margin-top: 0px;
}
.question .icon{
    color: #999;
}
.question .a_edit{
    display: block;
    margin-bottom: 15px;
}
.question .icon .tag{
    font-size: 24px;
    margin-right: 25px;
    cursor: pointer;
    letter-spacing: 6px;
    border: 3px solid #eee;
    border-radius: 10px;
    padding: 7px;
    text-align: center;
}
.question .active{
    color: #499ef3;
}
.question .c2nd_btn{
    margin: 10px;

}

.question .c2nd{
    border: 2px solid #eee;
    padding-top: 15px;
    margin-top: 10px;
    border-radius: 10px;
    margin-bottom: 15px;
}

.question .icon .tag:hover{
    color: #499ef3;
}
.comments{
    border-bottom: 1px solid #eee;
    margin-bottom: 15px;
    padding-bottom: 5px;
}
.profile .section{
    margin-top: 20px;
}
.noquestion{
    margin: 30px;
}
.error .jumbotron{
    background: white;
}