body{
    background: #efefef;
}
h2 {letter-spacing:5px}
.main{
    margin: 30px;
    background-color: white;
    padding: 30px;
}
.btn-publish{
    float: right;
    margin-bottom: 15px;
}
.media-object{
   width: 38px;
    height: 38px;
}
.text-desc{
    font-size: 12px;
    font-weight: normal;
    color: #999;
}
.question .edit{
    color: #999;
    font-size: 13px;
}
.question .media-body{
    padding-top: 9px;
}
.question .des{
    font-size: 20px;
}
.question .btn-reply{
    float: right;
    margin: 10px;
}
.profile .section{
    margin-top: 20px;
}
.noquestion{
    margin: 30px;
}
.error .jumbotron{
    background: white;
}