<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>demo</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/bootstrap-theme.min.css">
    <script src="js/jquery-3.4.1.min.js"></script>
    <script src="js/bootstrap.min.js" ></script>
    <link rel="stylesheet" href="css/demo.css">

</head>
<script type="application/javascript">
    window.onload=function () {
        var closable=window.localStorage.getItem("closable");
        if (closable){
            window.close();
            window.localStorage.removeItem("closeable");
        }
        
    }
</script>
<body>
<div th:replace="~{navigation::nav}"></div>
<div class="container-fluid main">
    <div class="row">
        <div class="col-lg-9 .col-md-12	.col-sm-12 .col-xs-12"> <!-- 左侧内容-->
            <h2>  <!-- 为左侧内容的标题-->
                <span class="glyphicon glyphicon-list" aria-hidden="true">发现</span>
            </h2>
            <hr>
            <div class="media question" th:each="question:${pagination.data}"><!--问题循环-->

                <div class="media-left">
                    <a href="#">
                        <img class="media-object img-rounded" th:src="${question.user.avatarUrl}">  <!--头像-->
                    </a>
                </div>
                <div class="media-body" >
                    <h4 class="media-heading" >
                        <a th:href="@{'/question/'+${question.id}}" th:text="${question.title}" ></a>
                    </h4>

                    <span class="text-desc"> [[${question.commentCount}]]个评论 • [[${question.viewCount}]] 次浏览 • [[${#dates.format(question.gmtCreat,"yyyy-MM-dd HH:mm")}]]</span>
                </div>
            </div>
            <h2 class="noquestion" th:if="${pagination.totalPage==0}">您未发布任何问题！</h2>
            <nav aria-label="Page navigation" th:if="${pagination.totalPage!=0}"><!--分页组-->
                <ul class="pagination">
                    <li th:if="${pagination.showFirstPage}">
                        <a href="/?page=1" aria-label="Previous">
                            <span aria-hidden="true">&lt;&lt;</span>
                        </a>
                    </li>
                    <li th:if="${pagination.showPrevious}">
                        <a th:href="@{/(page=${(pagination.page)-1})}" aria-label="Previous">
                            <span aria-hidden="true">&lt;</span>
                        </a>
                    </li>
                    <li  th:each="page:${pagination.pages}" th:class="${pagination.page==page}?'active':''"> <a th:href="@{/(page=${page})}" th:text="${page}"></a></li>
                    <li th:if="${pagination.showNext}">
                        <a th:href="@{/(page=${(pagination.page)+1})}" aria-label="Previous">
                            <span aria-hidden="true">&gt;</span>
                        </a>
                    </li>
                    <li th:if="${pagination.showEndPage}">
                        <a th:href="@{/(page=${pagination.totalPage})}" aria-label="Previous">
                            <span aria-hidden="true">&gt;&gt;</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="col-lg-3 .col-md-12 .col-sm-12 .col-xs-12"> <!--右侧内容-->
            <h3>问题发布指南</h3>
            问题标题：不超过25个字。<br>
            问题补充：详细描述问题，清晰直观，并提供一些相关的资料。<br>
            选择标签：可多个标签，用逗号隔开，每个标签不超过10个字。<br>
        </div>
    </div>
</div>
</body>
</html>