<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${question.title}"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css">
    <script src="/js/jquery-3.4.1.min.js"></script>
    <script src="/js/bootstrap.min.js" ></script>
    <link rel="stylesheet" href="/css/demo.css">
    <script src="/js/demo.js"></script>


</head>
<body>
<div th:replace="~{navigation::nav}"></div>
<div class="container-fluid main profile question">
    <div class="row">
        <div class="col-lg-9 .col-md-12	.col-sm-12 .col-xs-12"> <!--左侧区域-->
            <div class="col-lg-9 .col-md-12	.col-sm-12 .col-xs-12"><!--问题区域-->
                <h3>                                                <!---问题标题-->
                    <span  aria-hidden="true" th:text="${question.title}"></span>
                </h3>
                <span class="text-desc">&nbsp作者:[[${question.user.name}]] &nbsp| &nbsp阅读数：[[${question.viewCount}]]&nbsp |&nbsp发布时间：[[${#dates.format(question.gmtCreat,"yyyy-MM-dd HH:mm")}]]</span>
                <hr>
                <div class="col-lg-12 .col-md-12 .col-sm-12 .col-xs-12"><!--问题主体-->
                    <span class="des" th:text="${question.description}"></span><br/>
                    <a th:if="${session.user!=null && session.user.id==question.creator}" th:href="@{'/publish/'+${question.id}}"><span class="glyphicon glyphicon-pencil edit" >编辑</span></a>
                </div>
            </div>
            <div class="col-lg-9 .col-md-12	.col-sm-12 .col-xs-12" id="reply_section"><!--回复区域-->
                <div> <!--头像+个人名称-->
                    <div class="media-left">
                        <a href="#">
                            <img class="media-object img-rounded" th:src="${question.user.avatarUrl}">  <!--头像-->
                        </a>
                    </div>
                    <div class="media-body" >
                        <h4 class="media-heading" >
                            <a href="/profile/questions" th:text="${question.user.name}"></a>
                        </h4>
                    </div>
                </div>
                <input type="hidden" id="question_id" th:value="${question.id}">
                <textarea class="form-control textArea" rows="10" id="textarea_content">
                </textarea>
                <button type="button" class="btn btn-success btn-reply " onclick="post()">回复</button>
            </div>

            <hr class="col-lg-12 .col-md-12 .col-sm-12 .col-xs-12">
        </div>

        <div class="col-lg-3 .col-md-12 .col-sm-12 .col-xs-12">
            <div class="col-lg-12 .col-md-12 .col-sm-12 .col-xs-12">
                <div class="rightTitle">
               发起人
                </div>
                <br/>
                <div> <!--头像+个人名称-->
                <div class="media-left">
                    <a href="#">
                        <img class="media-object img-rounded" th:src="${question.user.avatarUrl}">  <!--头像-->
                    </a>
                </div>
                <div class="media-body" >
                    <h4 class="media-heading" >
                        <a href="/profile/questions" th:text="${question.user.name}"></a>
                    </h4>
                </div>
                </div>
            </div>
            <hr class="col-lg-12 .col-md-12 .col-sm-12 .col-xs-12">
            <div class="col-lg-12 .col-md-12 .col-sm-12 .col-xs-12">
                <div class="rightTitle">
               相关问题
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>